/* Use the following HTML structure:
  <body>
    <input type="checkbox" id="nav-toggle">
    <header>
      <label for="nav-toggle" class="menu-toggle">MENU</label>
      <nav class="navigation">
        <ul>
          <li><a href="#">Navigation items here</a></li>
        </ul>
      </nav>
    </header>
    <div id="page">
      <p>Entire page content here</p>
    </div>
  </body>
*/


/* --- fixed header and menu toggle --- */
#nav-toggle {
  display: none;
}
header {
  position: fixed;
  width: 100%;
  height: 4rem;
  z-index: 10;
  color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.menu-toggle {
  float: right;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  color: #333;
}
.menu-toggle::after {
  content: ' ☰';
}


/* --- mobile menu displayed --- */
#nav-toggle:checked + header .navigation {
  transform: translate(4rem, 0);
}
#nav-toggle:checked ~ #page {
  transform: translate(calc(-100% + 4rem), 0);
}


/* --- default page position --- */
#page {
  position: relative;
  top: 4rem;
  transform: translate(0, 0);
  transition: transform 0.3s ease;
}


/* --- default sidebar navigation --- */
.navigation {
  position: fixed;
  top: 4rem;
  transform: translate(calc(100% + 4rem), 0);
  transition: transform 0.3s ease;
  width: calc(100% - 4rem);
  height: 100%;
  background: #333;
  overflow-y: scroll;
}
/* off-canvas shadow */
.navigation::after {
  content: "";
  position: absolute;
  top: 0; left: 0;
  height: 100%;
  width: 3px;
  background: linear-gradient( to left, transparent, rgba(0, 0, 0, 0.3) );
}
/* navigation items */
.navigation li {
  list-style: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.navigation a {
  display: block;
  padding: 1rem 1.25rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 1rem;
  line-height: 1;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}
.navigation a:hover,
.navigation a:focus {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  background: #666;
}
